:root {
    --background-color: #F3F3F2;
    --card-color: white;
    --btn-color: #2F3030;
    --text-color: #939794;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    background-color: var(--card-color);
    min-width: 600px;
    padding: 2% 2% 2% 2%;
}

.image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.image-container {
    display: flex;
    align-items: center;
}

.row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.prof-info {
    margin-left: 10px;
}

.name {
    font-size: 20px;
    font-family: Gotham Rounded, sans-serif;
}

.username {
    font-size: 14px;
    color: #5e5e5e;
}

.type {
    font-size: 14px;
    color: #5e5e5e;
}

.btn-container {
    text-align: c;
}

.edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 35px;
    background-color: var(--btn-color);
    color: white;
    border: 1px solid var(--btn-color);
    font-size: 14px;
    transition: .2s;
}

.ss {
    margin-right: 5px;
}

.edit-btn:hover {
    cursor: pointer;
    background-color: #4d4d4d;
}

.navbar {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.navitem {
    margin-right: 15px;
    color: #5e5e5e;
}

.navitem:hover {
    cursor: pointer;
    color: black;
}

.active {
    color: black;
    font-weight: bold;
}

.title-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.date {
    display: flex;
    align-items: center;
    color: #5e5e5e;
}

.row-4 {
    margin-top: 1em;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding-bottom: 1em;
}

.card {
    background-color: white;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
    min-width: 200px;
    font-weight: bold;
    border-radius: 10px;
    padding: 4% 4% 4% 4%;
    transition: .2s;
}

.card:hover {
    background-color: var(--btn-color);
    color: white;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.number {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.more-info {
    font-size: 12px;
    color: #5e5e5e;
}

.info-title {
    font-size: 14px;
}

.number-item {
    font-size: 20px;
}

.stats {
    color: rgb(32,199,146);
    font-size: 13px;
}